* {
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Fira Code', monospace;
	font-size: 2.3vmin;
    background-color: black; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
}

.cursor {
	position: absolute;

	width: 5px;
	height: 5px;
	border-radius: 50%;

	background: black;
}

table {
    border-collapse: collapse;
}
div table tr td {
    border: 1px solid grey;
}
div table tr th {
    border: 3px solid grey;
}

#nightfall_title {
  	background-color: #000000;
  	display: flex;
  	height: 100%;
  	width: 100%;
  	padding: 1rem;
  	justify-content: center;
  	align-items: center;
}

#title {
	font-family: sans-serif;
  	font-size: 8vh;
  	text-shadow: 4px 4px 0px #ff0000;
  	mix-blend-mode: screen;
  	animation: fadeIn 2.5s linear forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}
#title:hover {
	text-shadow: 8px 8px 0px #ff0000;
}

.scorebar, .scorebar_db, #text_scores_db {
	display: inline-block;
	text-align: right;
}

#texts {
	display: inline-block;
	justify-content: flex-start;
}

.top {
	vertical-align: top;
}

#zombie, #help, #chat_button, #chat, #input_commands, #text_input, #input_chat {
	display: inline-block;
}

#ascii {
	position: fixed;
	color: black;
	font-weight: 900;
	display: inline-block;
	vertical-align: top;
}

#gas{
	justify-content: flex-end;
}

#login_button, #logout_button, #reset_button{
	box-shadow: 3px 4px 3px 0px #ff0000;
	border-radius:10px;
	border:1px solid #000000;
	cursor:pointer;
	padding:2px 7px;
    align-items: center;
    display:inline-block;
    color:#666666;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    text-shadow:0px 1px 0px #ffffff;
    margin : 1px;
}
#login_button:hover, #logout_button:hover, #reset_button:hover {
	background-color:#ff0000;
}

#user_input, #chat_button {
	box-shadow: 3px 4px 3px 0px #ff0000;
	background-color:#ff0000;
	border-radius:10px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
#user_input:hover, #chat_button:hover {
	background-color:#ffffff;
	color:#000000;
}